<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OAuth Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Do you wish to log in?</h1>

    <p th:unless="${#strings.isEmpty(error)}" th:text="${error}" style="color: red"></p>

    <form action="" method="POST">
        <input type="hidden" name="challenge" th:value="${challenge}" />

        <input type="text" id="username" name="username" placeholder="Username" /><br />
        <input type="password" id="password" name="password" placeholder="Password" /><br />

        <input type="checkbox" id="remember" name="remember" value="1" />
        <label for="remember">Remember me</label><br />

        <input type="submit" id="accept" name="submit" value="Yes" />
        <input type="submit" id="reject" name="submit" value="No" />
    </form>
</body>
</html>