<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OAuth Consent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>An application requests access to your data!</h1>

    <form action="" method="POST">
        <input type="hidden" name="challenge" th:value="${challenge}" />

        <img th:unless="${#strings.isEmpty(client.logoUri)}" th:src="${client.logoUri}" />

        <p th:utext="|Hi ${subject}, application | + '<strong>' + ${#strings.isEmpty(client.name) ? client.id : client.name} + '</strong> wants access resources on your behalf and to:'"></p>

        <ul>
            <li th:each="scope : ${requestedScope}">
                <input type="checkbox" th:id="${scope}" th:value="${scope}" th:checked="checked" name="grantScope" />
                <label th:for="${scope}" th:text="${scope}"></label>
            </li>
        </ul>

        <p>Do you want to be asked next time when this application wants to access your data? The application will not be able to ask for more permissions without your consent.</p>

        <ul>
            <li th:unless="${#strings.isEmpty(client.policyUri)}" th:href="${client.policyUri}" th:text="Policy"></li>
            <li th:unless="${#strings.isEmpty(client.tosUri)}" th:href="${client.tosUri}" th:text="Terms of Service"></li>
        </ul>

        <p>
            <input type="checkbox" id="remember" name="remember" value="1" />
            <label for="remember">Do not ask me again</label>
        </p>

        <p>
            <input type="submit" id="accept" name="submit" value="Allow" />
            <input type="submit" id="reject" name="submit" value="Deny" />
        </p>
    </form>
</body>
</html>